<div class="container">
  <div class="perfil_usuario_recibe">
    <div class="avatarFrameOffline">
      <img
        class="icon"
        id="foto_usuairo"
        src="../../../assets/img/generic_avatar.png"
        alt=""
      />
    </div>
  </div>

  <div class="chat">
    <div class="content_chat"></div>
  </div>

  <div class="perfil_usuario_envia">
    <div class="avatarFrameOffline">
      <img class="icon" src="../../../assets/img/generic_avatar.png" alt="" />
    </div>
  </div>

  <div class="mensaje">
    <textarea name="mensaje" id="" cols="0" rows="0"></textarea>
    <div class="acciones_mensajes">
      <img
        id="zumbido"
        src="../../../../assets/img/zumbido.png"
        alt="zumbido"
      />
    </div>
  </div>
</div>
