.container {
  padding: 1%;
}

.content_encabezado {
  width: 95%;
  padding: 1%;
  margin: 3% 0;
  border: 1px solid black;
}

.foto_perfil {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

#buscador_contacto {
  width: 96.5%;
}
