.container {
  padding: 1%;
}

.content_encabezado {
  width: 95%;
  padding: 1%;
  margin: 3% 0;
  border: 1px solid black;
}

.foto_perfil {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.disponibles {
  display: flex;
  flex-direction: row;
  align-items: center;

  .estado {
    width: 8px;
    height: 8px;
    border: 1px solid black;
    background: greenyellow;
  }

  p {
    margin: 0 1%;
  }
}

.desconectados {
  display: flex;
  flex-direction: row;
  align-items: center;

  .estado {
    width: 8px;
    height: 8px;
    border: 1px solid black;
    background: grey;
  }

  p {
    margin: 0 1%;
  }
}

#buscador_contacto {
  width: 96.5%;
}

.encabezado_listas,
.contenido_lista_usuarios {
  cursor: pointer;
}
