<div class="container">
  <div class="container_title">
    <p>Iniciar sesión en</p>
    <p>Wnddows Live Messenger</p>
  </div>

  <div class="container_content">
    <div class="container_icon">
      <div class="avatarFrameOffline">
        <img class="icon" src="../../../assets/img/generic_avatar.png" alt="" />
      </div>
    </div>

    <div class="container_form">
      <input
        class="entrada"
        type="text"
        placeholder="ejemplo555@hotmail.com"
      /><br />

      <input class="entrada" type="password" placeholder="Contraseña" />

      <p><a href="#">¿Has olvidado tu contraseña?</a></p>

      <p>Iniciar sesión como: Disponible</p>

      <label
        ><input type="checkbox" id="" value="" />Recordar mi Id. y
        contraseña</label
      ><br />

      <label
        ><input type="checkbox" id="" value="" />Iniciar sesión
        automáticamente.</label
      ><a href="#"> Opciones</a><br />

      <button>Iniciar sesión</button>

      <button>Cancelar</button><br />

      ¿No tienes una cuenta Microsoft? <a href="#">Registrarme</a>
    </div>
  </div>
</div>
