.container {
  background: url("../../../../assets/img/msnbg_tall.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 5%;

  display: flex;
  flex-direction: column;
  // border: 1px solid black;
}

.content {
  width: 60%;
  margin: auto;
}

.container_content {
  display: flex;
  flex-direction: row;
  margin: 2.5% 0;
  // border: 1px solid black;
}

.container_icon {
  // border: 1px solid black;
}

.container_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
}

.entrada {
  width: 60%;
  height: 3vh;
  margin: 0 0 2%;
  border-radius: 3px;
}

.container_title {
  width: 100%;
  font-size: 3em;
  // margin: 0 25% 1%;
  p {
    margin: 0;
  }
}

.botones {
  width: 25%;
}

.icon {
  width: 100%;
}

button {
  width: 25%;
  height: 4vh;
  margin: 3% 1.5%;
}

button:hover {
  border: 2px solid #92c0d0;
}

.avatarFrameOffline {
  width: 40%;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #ffffff 0%,
    #eae5e5 45%,
    #c1bdbd 47%,
    #bab6b6 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    #eae5e5 45%,
    #c1bdbd 47%,
    #bab6b6 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #eae5e5 45%,
    #c1bdbd 47%,
    #bab6b6 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bab6b6',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding: 5%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.36);
  -webkit-box-shadow: 3px 3px 21px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 21px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 21px 1px rgba(0, 0, 0, 0.75);
  margin: 0 10%;
  float: right;
}

@media (max-width: 960px) {
  .container_content {
    display: flex;
    flex-direction: column;
    // border: 1px solid black;
  }

  .avatarFrameOffline {
    width: 20%;
    margin: auto;
    float: none;
  }

  .container_icon {
    margin: 5% 0;
    width: 100%;
    // border: 1px solid black;
  }

  .entrada {
    width: 100%;
  }

  .container_title {
    text-align: center;
    width: 100%;
    font-size: 2em;
    margin: 1% auto;
    p {
      margin: 0;
    }
  }

  .container_form {
    padding: 3%;
    border: 2px solid #92c0d0;
    -webkit-box-shadow: 0px 7px 27px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 7px 27px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 7px 27px 0px rgba(0, 0, 0, 0.2);
  }
}
